
<h2>Overzicht van alle vragen en antwoorden </h2>
<div>
  <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
			<strong>Oh nee!</strong> {{errorMsg}}
	  </div>
  <div class="zoekBox">
    <label for="filter">Zoek naar een vraag</label>
      <input class="form-control m-input" (keyup)='filterQuestion$.next($event.target.value)' type='text' id='filter' name='filter' placeholder='Zoekterm'>
  </div>
  <div class="questionTable row">
    <div class="col-md-7"><h4>Vraag</h4></div>
    <div class="col-md-5"><h4>Categorie</h4>
    </div>
    
      <br class="clearer"/>
    </div>

    <app-question *ngFor='let localQuestion of questions ' [question]='localQuestion' (deleteQuestionEvent)='removeQuestion($event)'></app-question>

</div>