
<li class="list-group-item">
        <div class="row">
            <div class="col-md-6">
            <span class="font-15"> {{ category }}</span>
            </div>
            <div class="col-md-6 items-right">
        
                    <div (click)="deleteCategory()" class="qicon qicon-delete">
                            <i class="flaticon flaticon-delete"></i>
                          </div>
                          <div (click)="modifyCategory()" class="qicon qicon-edit">
                            <i class="flaticon flaticon-edit"></i>
                          </div>
                </div>
        </div>
     
    </li>
      