
/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-table__wrapper {
	width: 100%;
	overflow-x: auto;


	mat-cell, mat-header-cell {
		min-height: 100%;
	}


}

.mat-table__wrapper .mat-table {
	min-width: 1000px;
	width: 100%;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
}


.mat-table__wrapper .mat-table .email-cell {
	word-wrap: normal;
	width: 180px;
	flex: auto;
}


.m-mat-dialog-container__wrapper .mat-dialog-container {
	padding: 0;
	overflow-x: hidden;

	.m-portlet {
		margin-bottom: 0;
	}

	.alert {
		border-radius: 0 !important;
		width: 1032px;
	}
}

.mat-table__wrapper--sub .mat-table {
	min-width: 400px;

	.mat-cell:last-child {
		flex: 0 0 100px;
	}

	.mat-header-cell:last-child {
		flex: 0 0 100px;
	}
}

.ml-auto {
	margin-left: auto;
}

.example-full-width {
	width: 100%;
}

mat-radio-button {
	padding-right: 16px;
}

.m-form--alert {
	margin-top: 30px;
}

.mat-column-checkbox {
	flex: 0 0 68px;
}

.mat-column-id {
	flex: 0 0 68px;
}

.mat-column-main {
	flex: 0 0 568px;
}

.mat-column-actions {
	flex: 0 0 160px;
}

.mat-table__bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.mat-column-vinCode {
	flex: 0 0 170px;
}

.m-portlet-mx-0 {
	margin: -1.1rem -2.2rem 0;
	overflow-x: hidden;
}
.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
	height: 0;
	min-height: 0;
	padding: 0 !important;
	border-bottom:0 !important;
}

/* You can add global styles to this file, and also import other style files */
.question {
	cursor: pointer;
	 margin-bottom: 0.5rem;
	 margin-top:0px;
	 border: 1px solid #ebedf2;
	 border-bottom:  none;
	 border-radius: 6px;
	 transition: box-shadow 50ms cubic-bezier(0.4, 0.0, 0.2, 1);
 }
 .question:hover .questionHeader{
	background-color: #f4f5f8;
 }
 .question:hover {
	transition: box-shadow 50ms cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
   box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
 }
 
 .qbody {
	 width: 65%;
	 display: inline-block;
	 white-space: nowrap;
	 word-wrap: break-word;
	 font-weight: 300
	 
 }
 .questionHeader{
	width: 100%;	
	border-bottom: 1px solid #ebedf2;
	padding:20px;
	border-radius: 6px;
}
.questionHeaderActive{
	background-color: #f4f5f8;
}
 .qcat {
	 width:25%;
	 display: inline-block;
	 font-weight: 300
 }
 .qicon {
	 width:10%;
	 display: inline-block;
	 margin-top: -4px;
	 transition: 0.4s;
	 border-bottom: 1px solid #c3c3c300;
	 text-align: center;
	 border-radius: 50%;
	 cursor: pointer;

 }

 .qicon-delete{
	 color: #f4516c;
 }
 .qicon-edit{
	 color:#5867dd;
 }
 .qicon-delete:hover{
	background-color: #f4516c;
	color:white;
}
.qicon-edit:hover{
	color:white;
	background-color: #5867dd;
}
 .qanswers {
	 max-height: 0;
	 transition: max-height 0.50s ease-out;
	 overflow: hidden;
	transition: 0.5s;
}
 .questionContent p {
	 font-size: 15px;
 }
 .questionTable{
	 padding-top: 20px;
 }
 .qanswers.shown {
	 max-height: 500px;
	 transition: max-height 0.50s ease-in;
	 border-bottom: 1px solid #ebedf2;
	 border-radius: 6px;
 }
 .questionContent{
	 padding: 20px;
 }
 .clearer {
	 clear:both;
 }
 .field{
	 margin-bottom: 20px;
 }
 
 .groupwrapper {
	 display: inline-block;
 }
 
 .group {
	 float:left;
	 width: 25%;
	  padding:20px;	 
	  border: none;
	  border-radius: 2px;
	  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	  transition: box-shadow 50ms cubic-bezier(0.4, 0.0, 0.2, 1);
 }
 .group:hover {
	 box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
 }
.zoekBox{
	margin: 20px 0px;
}
 .gdelete {
	 float:right;
	 cursor: pointer;
 }
 .gchosen {
	 clear:both;
 }
 .test.path {
	 background: yellow;
 }
 .twitterBox{
	 height: 350px;
	 overflow-y: scroll;
 }

#positieclicker {
	margin: 0px auto;
	width: 100%;
	height: 500px;
	margin-top: 10px;
}

canvas {
	margin: 0 auto;
	border: 1px solid #5867dd;
	/*	max-width: 100%;
	width: 100%;
	*/
	min-width: 900px;
	height: 500px;
	margin-bottom:20px;
}
.cursor-grabbing{
	cursor: grabbing;
}
.cursor-pointer{
	cursor: pointer;
}

.kadertje{
	-webkit-box-shadow: -2px 0px 11px -2px rgba(92,92,92,1);
	-moz-box-shadow: -2px 0px 11px -2px rgba(92,92,92,1);
	box-shadow: -2px 0px 11px -2px rgba(92,92,92,1);
	background-color: white;
	margin-bottom: 20px;
}
.werdGeregistreerd{
	color: #155724;
	font-size: 1rem;
}

.window-visible{
	display: block !important;
}
.window-invisible{
	display: none !important;
}
.inline-block{
	display: inline-block;
}
.klokKader{
	text-align: center; 
	padding: 40px 20%;
}
.margin-t-10{
	margin-top: 10px;
}